<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CafeName" value="CafeX" />
		<add key="DeviceName" value="test" />
		<add key="ProjectId" value="netcafeaskar" />
		<add key="AuthenticationPath" value="netcafeaskar-firebase-adminsdk-yta2z-6211ca1056.json" />
		<add key="AvailableDocument" value="availableDevices" />
		<add key="ActivatedDocument" value="activatedDevices" />
		<add key="BookingRooms" value="bookingRooms" />
		<add key="Admin" value="true" />
	</appSettings>
</configuration>